.reveal h1,
.reveal h2,
.reveal h2 strong {
  color: chocolate;
  text-shadow: 2px 2px;
}
body {
  background: #eeeeee;
}

/** img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}**/