.reveal h1 strong,
.reveal h2,
.reveal h2 strong {
  color: chocolate;
}
.reveal section img {
  background-color: rgba(255, 99, 71, 0.2);
}
.reveal .slide-background {
    background-color: rgba(35, 187, 80, 0.2);
}
